@if (infoDemand(); as info){

  <h2 class="title" style="color: red"> Удаление кода</h2>
  <app-qr-scanner
    (scanResult)="updateShipment($event)">
  </app-qr-scanner>
  <div class="demand__info-wrapper">
    @if (errorMessage()) {
      <div class="error">{{ errorMessage() }}</div>
    }
    <h3>Номер отгрузки: {{info.name}}</h3>
    <h3>{{info.attributes[0].value.name}}</h3>
    <h3>Дата: {{info.created | date}}</h3>
  </div>
}
@if (errorMessage()) {
  <div class="error">{{ errorMessage() }}</div>
}
@if (items(); as items) {
  <div class="shipments__items-wrapper">
    <ul class="shipments__items">
      @for (item of items; track item.id) {
        <li [attr.data-gtin]="item.gtin" class="shipment__item"
            [class.complite]="item.trackingCodes == item.quantity"
            [class.overcomplite]="item.trackingCodes > item.quantity"
        >
          <img [src]="item.imageUrl" class="shipment__item-img" (click)="openModal(item.imageUrl)">
          <p>{{ item.name }}</p>
          <p>{{ item.trackingCodes }}/{{ item.quantity }} <br>{{item.uom}}
          </p>
        </li>
      }
    </ul>
  </div>
}
<modal-img [imgUrl]="selectedImage" (close)="closeModal()"></modal-img>
<div class="btn-wrapper">
  <app-btn (action)="back()" class="shipments-btn">Назад</app-btn>
</div>


