.shipments__items-wrapper{
  display: flex;
  justify-content: center;
}

.shipment__item{
  display: grid;
  grid-template-columns: 40px 1fr 32px;
  grid-gap: 10px;
  align-items: center;
  gap: 10px;
}

.shipments__items{
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  width: 100%;
}

.shipment__item img{
  max-width: 40px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.shipment__item{
  padding: 10px;
  border-radius: 8px;
}

.shipment__item p{
  font-size: 14px;
  font-weight: 500;
}

.complite{
  color: #4CAF50;
  position: relative;
}

.green-checkmark{
  position: absolute;
  top: 23px;
  width: 29px;
  right: 62px;
}
.overcomplite{
  color: #861590;
}

.demand__info-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.demand__info-wrapper{
  margin-top: 20px;
}

.btn-wrapper{
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
  padding-bottom: 40px;
}

