<app-feature-scanner (resultScan)="updateShipment($event)"></app-feature-scanner>
@if (items(); as items) {
  <div class="shipments__items-wrapper">
    <ul class="shipments__items">
      @for (item of items; track item.id) {
        <li [attr.data-gtin]="item.gtin" class="shipment__item"
            [class.complite]="item.trackingCodes === item.quantity">{{ item.name }} - {{ item.trackingCodes }}
          /{{ item.quantity }}
        </li>
      }
    </ul>
  </div>
}
<app-btn (action)="back()">Назад</app-btn>
