@import 'fonts';

:root {
  --primary-color: #4CAF50;
  --white-color: white;
}

body {
  font-family: 'JetBrains Mono';
  font-weight: 500;
  background-size: cover;
  height: 100dvh;
}

.mt20{
  margin-top: 20px !important;
}

.btn{
  display: block;
  background: var(--primary-color);
  color: var(--white-color);
  outline: none;
  border: none;
  width: 300px;
  height: 50px;
  font-size: 20px;
  border-radius: 8px;
  margin: 0 auto;
  cursor: pointer;
}


ul li::marker {
  content: "";
}

.qr__scanner-wrapper #qr-reader__dashboard_section {
  display: none !important;
}

#qr-reader__scan_region video {
  max-width: 500px;
  width: 100%;
}
